Port 2222
ListenAddress 0.0.0.0
Protocol 2

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile /run/agent-ssh/authorized_keys
AllowUsers pn

AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTunnel no
PermitTTY yes

UsePAM no
PrintMotd no
PrintLastLog no
StrictModes yes

ForceCommand /usr/local/bin/ssh-session
